@model ASP.NetCV.Models.Entities.UserInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LOCATION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LOCATION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DEGREEMBA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DEGREEMBA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHONE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHONE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMAIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AGE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AGE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EXPERIENCE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EXPERIENCE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAREERLEVEL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAREERLEVEL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FAX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WEBSITEexample)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WEBSITEexample)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatByUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatByUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedByUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedByUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
