@model IEnumerable<ASP.NetCV.Models.Entities.UserInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DEGREEMBA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHONE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AGE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EXPERIENCE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAREERLEVEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FAX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WEBSITEexample)
            </th>
           
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOCATION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEGREEMBA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHONE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AGE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EXPERIENCE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAREERLEVEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FAX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WEBSITEexample)
            </td>
      
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
