@model ASP.NetCV.Models.Entities.ContactPost

@{
    ViewData["Title"] = "Details";

}

<h1>Details</h1>

<div>
    <h4>ContactPost</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnswerDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerByUserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnswerByUserID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatByUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatByUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedByUserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeletedByUserID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
        <dd class="col-sm-12 form-answer" style="display:none">
            <form method="post" asp-action="Answer">
                <textarea nama="Answer" class="form-control mb-2" placeholder="Bos qoymayin!"></textarea>
                <input type="hidden" asp-for="Id" />
                <button class=btn btn-primary>Cavabla</button>
            </form>
            
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
    <a class="btn btn-primary" id="btnReply">Reply</a>

</div>
@section addjs{
    <script>
        $(Document).ready(function () {
            $('#btnReply').click(function (e) {
                e.preventDefault();
                $('.form-answer').show();
                
            });
        });
    </script>
} 