@model IEnumerable<ASP.NetCV.Models.Entities.ContactPost>

@{
    ViewData["Title"] = "Index";

}

<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="dashboard_header mb_50">
                    <div class="row">
                        <div class="col-lg-6">
                          
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="email-sidebar white_box">
                   
                    <ul class="text-left mt-2">
                        <li class="active"><a href="#"><i class="ti-user"></i> <span> <span>Primary</span>  <span class="round_badge">3</span> </span> </a></li>
                        <li><a href="#"><i class="ti-crown"></i> <span> <span>Promotions</span>  <span class="round_badge">1</span> </span> </a></li>
                        <li><a href="#"><i class="ti-star"></i> <span> <span>Started</span>  <span class="round_badge">2</span> </span> </a></li>
                        <li><a href="#"><i class="ti-announcement"></i> <span> <span>Send Mails</span>   </span> </a></li>
                        <li><a href="#"><i class="ti-pin2"></i> <span> <span>Drafts</span>  <span class="round_badge">3</span> </span> </a></li>
                        <li><a href="#"><i class="ti-pin"></i> <span> <span>Spam</span> </span> </a></li>
                        <li><a href="#"><i class="ti-trash"></i> <span> <span>Trash</span>  </span> </a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="white_box QA_section mb_30">
                    

                    <div class="QA_table ">
                        <!-- table-responsive -->
                        <table class="table lms_table_active">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <label class="primary_checkbox d-flex mr-12 ">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Content</th>
                                    <th scope="col">Answer</th>
                                    <th scope="col">AnswerDate</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr ondblclick="openMessage(this) "data-id="@item.Id">
                                    <td scope="row">
                                        <label class="primary_checkbox d-flex mr-12 ">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td> <i class="far fa-star"></i> </td>
                                    <td>
                                        <div class="media align-items-center">
                                            <img class="circle-rounded mr-3" letters="@item.Name" alt="" width="30" height="30">
                                            <div class="media-body">
                                                <p>@item.Name</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p> @item.Email</p>
                                    </td>
                                    <td>
                                        <p class="nowrap">@item.Subject </p>
                                    </td>
                                    <td>
                                        @item.Content
                                    </td>
                                    <td>
                                        @item.Answer
                                    </td>
                                    <td>
                                        @item.AnswerDate
                                    </td>
                                </tr>
                                }
                                
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section addjs{ 
    <script src="~/libs/img-letter/Img-letter.js"></script>
<script>
    function openMessage(el) {
        let id = $(el).data('id'); //gelen elementi beraberdi data atributun idsine

        window.location.href = `@Url.Action("Details")/${id}`
    }



</script>
}