@model UserInfo


<ul class="personal-info">
        <li>
            <p> <span> Name</span> @Model.Name </p>
        </li>
        <li>
            <p> <span> Age</span> @Model.AGE </p>
        </li>
        <li>
            <p> <span> Location</span> @Model.LOCATION</p>
        </li>
        <li>
            <p> <span> Experience</span> @Model.EXPERIENCE </p>
        </li>
        <li>
            <p> <span> Degree</span> @Model.DEGREEMBA </p>
        </li>
        <li>
            <p> <span> Career Level</span> @Model.CAREERLEVEL </p>
        </li>
        <li>
            <p> <span> Phone</span> @Model.PHONE</p>
        </li>
        <li>
            <p> <span> FAX</span> @Model.FAX </p>
        </li>
        <li>
            <p> <span> E-mail</span> <a href="#."> @Model.EMAIL</a> </p>
        </li>
        <li>
            <p> <span> Website</span><a href="#."> @Model.WEBSITEexample </a></p>
        </li>
    </ul>